@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  background-image: url('/assets/images/grid.svg');
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

/* gradient scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-slate-200;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background: linear-gradient(171deg, rgb(245 158 11), rgb(234 88 12), #eab308);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-slate-200 py-2.5 font-satoshi pl-5 pr-12 text-sm  shadow-lg font-medium focus:border-slate-400 focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full py-2 px-3 rounded-lg bg-white min-w-full flex flex-col gap-2 justify-start items-start shadow-lg;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-600 hover:text-gray-500 font-medium w-full p-2 cursor-pointer rounded-lg bg-slate-50 hover:bg-slate-100 flex items-center gap-2;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Form */
.form_wrap {
  @apply flex flex-col flex-center text-center;
}

.form_wrap h1 {
  @apply text-2xl font-extrabold;
}

.prompt_form {
  @apply my-10 p-3 bg-gray-200 border border-gray-300 rounded-lg w-96;
}

.prompt_input {
  @apply my-5;
}

.prompt_input textarea {
  @apply text-sm border border-gray-400 p-2 rounded-md text-slate-600 bg-transparent outline-none mt-2 w-full;
}

.prompt_input input {
  @apply text-sm border border-gray-400 p-2 rounded-md text-slate-600 bg-transparent outline-none mt-2 w-full;
}
/* Form end */

/* Prompt */

.prompt_list {
  @apply mt-10 w-full max-w-xl mx-auto;
}

.prompt_card {
  @apply my-6;
}

.prompt_card:last-child {
  @apply mb-10;
}

.prompt_header {
  @apply flex flex-between items-center;
}

.prompt_desc {
  @apply text-sm mt-5 text-slate-700;
}

.prompt_tag {
  @apply rounded-full bg-gray-200 border border-gray-300 text-black p-2 text-xs cursor-pointer;
}

.edit_prompt {
  @apply cursor-pointer hover:bg-green-100 p-2 rounded;
}

.copy_prompt {
  @apply cursor-pointer;
}

.delete_prompt {
  @apply cursor-pointer bg-red-100 hover:bg-red-200 p-2 rounded;
}

.no_prompt {
  @apply bg-yellow-100 py-16 mb-8 flex-center flex-col rounded-lg border border-yellow-200 w-full;
}

.no_prompt .icon_info {
  @apply text-yellow-600 mb-3;
}

.no_prompt .text {
  @apply text-yellow-600 font-semibold text-lg;
}
/* Prompt end */

/* Profile */
.profile_wrap {
  @apply flex-center flex-col text-center gap-4;
}

.profile_details h1 {
  @apply font-bold text-xl orange_gradient;
}

.profile_details p {
  @apply text-slate-500 text-sm;
}
/* Profile end */
